.fp-slidesNav.fp-bottom {
	bottom: 0;
}

.fp-bottom {
	display: flex;
	height: 6rem;
	justify-content: center;
	align-items: center;
	mix-blend-mode: difference;
}

.fp-slidesNav ul li a span {
	background: var(--cream);
}

@media (max-width: 1536px) {
	.fp-bottom {
		height: 3rem;
	}
}

@media (max-width: 768px) {
	.fp-bottom {
		display: none;
	}
}
