body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-text);
}

/* @keyframes fadeIn { */
/* 	0% { */
/* 		opacity: 1; */
/* 		scale: 1; */
/* 	} */
/**/
/* 	80% { */
/* 		opacity: 1; */
/* 		scale: 1.5; */
/* 	} */
/**/
/* 	90% { */
/* 		opacity: 0.5; */
/* 		scale: 1.2; */
/* 	} */
/**/
/* 	100% { */
/* 		opacity: 0; */
/* 		scale: 0; */
/* 	} */
/* } */
